body {
    margin: 0;
    font-family: helvetica;
    background-image: url('double-bubble-outline.webp');
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: bold;
    font-style: oblique;
    font-size: 25px !important;
}

.logo .mi {
    color: palevioletred;
}

.logo .health {
    color: #04AA6D;
}

#topnav {
    position: sticky;
    top: 0;
    background-color: #444;
    z-index: 2;
}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 19px;
    margin: 5px;
}

.nav-links a:hover {
    background-color: #888;
    color: black;
    border-radius: 3px;
}

.nav-links a.active {
    background-color: #04AA6D;
    color: white;
    border-radius: 3px;
}

.landing {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 17px;
}

.image {
    width: 50%;
    height: 50%;
}

.container {
    display: flex;
    background-color: rgba(76, 175, 80, 0.15);
    backdrop-filter: blur(3px);
    margin: 1rem;
    border-radius: 15px;
}

.container > .hstack {
    margin: 1rem;
}

/* COMPONENTS */
/* The primary layout component that powers HStack and VStack */
.flex {
	--spacing: 4px;
	--direction: row;
	--align: center;
	display: flex;
	justify-content: space-between;
	align-items: var(--align);
	flex-direction: var(--direction);
}

/* Adjust the spacing of all (immediate) inner children */
.flex > * + * {
	margin-left: var(--spacing);
}

/* Horizontally stack items in line. */
.hstack {
	--direction: row;
}

/* Vertically stack items on top of each other. */
.vstack {
	--align: stretch;
	--direction: column;
}
/* Adjust spacing for vertically stacking items */
.vstack > * + * {
	margin-left: unset;
	margin-top: var(--spacing);
}

/* Adaptive take up space within a stack, used for content or for pushing items. */
.spacer {
	flex: 1;
}