body {
    margin: 0;
    font-family: helvetica;
    background-image: url('double-bubble-outline.webp');
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: bold;
    font-style: oblique;
    font-size: 23px !important;
}

.logo .mi {
    color: palevioletred;
}

.logo .health {
    color: #04AA6D;
}

#topnav {
    position: sticky;
    top: 0;
    background-color: #444;
    z-index: 2;
    padding-left: 3rem;
    padding-right: 3rem;
}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 18px;
    margin: -5px;
}

.nav-links a:hover {
    background-color: #888;
    color: black;
    border-radius: 5px;
}

.nav-links a.active {
    background-color: #04AA6D;
    color: white;
    border-radius: 5px;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

p {
    padding-top: 2rem;
    font-size: 20px;
}

.container {
    display: flex;
    background-color: rgba(6, 170, 109, 0.2);
    backdrop-filter: blur(2px);
    margin: 2rem;
    border-radius: 15px;
}

.container > .hstack {
    margin: 2rem;
}

.herotile {
    text-decoration: none;
    color: black;
    position: relative;
    border-radius: 25px;
    width: 250%;
    height: 500px;
    background-size: cover;
    margin-left: 2rem !important;
}

.pinkbanner {
    font-size: 20px;
    position: absolute;
    bottom: 3rem;
    right: 0;
    background-color: white;
    padding: 1rem;
}

.whitebanner {
    font-size: 20px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: palevioletred;
    padding: 1rem;
    border-bottom-right-radius: 25px;
    width: 130px;
}

.herotile:hover {
    transform: scale(105%);
}

#breakfast {
    background-image: url("apple-breakfast-quinoa-7.jpg");
}

#lunch {
    background-image: url("pasta-salad-recipe-for-lunch.jpg");
}

#dinner {
    background-image: url("shrimptastic.jpg");
}

/* COMPONENTS */
/* The primary layout component that powers HStack and VStack */
.flex {
	--spacing: 4px;
	--direction: row;
	--align: center;
	display: flex;
	justify-content: space-between;
	align-items: var(--align);
	flex-direction: var(--direction);
}

/* Adjust the spacing of all (immediate) inner children */
.flex > * + * {
	margin-left: var(--spacing);
}

/* Horizontally stack items in line. */
.hstack {
	--direction: row;
}

/* Vertically stack items on top of each other. */
.vstack {
	--align: stretch;
	--direction: column;
}
/* Adjust spacing for vertically stacking items */
.vstack > * + * {
	margin-left: unset;
	margin-top: var(--spacing);
}

/* Adaptive take up space within a stack, used for content or for pushing items. */
.spacer {
	flex: 1;
}