body {
    margin: 0;
    font-family: helvetica;
    background-image: url('double-bubble-outline.webp');
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
}

.landing {
    display: flex;
    height: 100vh;
    background-color: rgba(76, 175, 80, 0.15);
    backdrop-filter: blur(3px);
    margin: 2rem;
    border-radius: 15px;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 1000vh;
    height: 1000vh;
    margin: 10vh;
    font-size: 50px;
    font-weight: bold;
}

.logo {
    font-weight: bold;
    font-style: oblique;
    font-size: 25px !important;
}

.logo .mi {
    color: palevioletred;
}

.logo .health {
    color: #04AA6D;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 19px;
    margin: 5px;
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 2px;
}

.nav-links a.active {
    background-color: #04AA6D;
    color: white;
}